@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;500;700;800;900&family=Red+Hat+Display:wght@400;500;700;900&family=Roboto&display=swap');

* {
  scroll-behavior: smooth;
}

.header-link {
  @apply font-outfit text-[28px] font-light not-italic leading-[104px];
}

/* GRADIENT */
.bodyBgColor {
  background: linear-gradient(
    180deg,
    #17171b 0%,
    #1a1976 34.38%,
    #3433a3 69.27%,
    #2e2d4b 100%
  );
  height: 4634px;
}

.logo {
  font-family: 'Roboto';
  font-style: normal;
  
  font-size: 58px;
  line-height: 40px;
  text-transform: uppercase;
  /* color: #1A1720;;
  text-shadow: white 1px 0px, white 1px 1px, white 0px 1px, white -1px 1px,
    white -1px 0px, white -1px -1px, white 0px -1px, white 1px -1px; */
  text-shadow: 0 0 2px #fff;
    color: #1A1720;
}
@supports(-webkit-text-stroke: 1px white) {
  .logo {
    text-shadow: none;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
}

/* Green */
.backgroundBtnTry {
  background: linear-gradient(180deg, #52a39d 0%, #70ad7d 71.35%);
}

.borderStyle {
  border: 1px solid #66aa88;
}
.titleHeroColor {
  background: linear-gradient(92.11deg, #008956 -11.8%, #48C088 9.71%, #32E1A2 35.64%, #27CE7E 57.16%, #249EE2 86.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
 
}

.GetStartedSection {
  position: absolute;
    width: 1120px;
    height: 711px;
    left: 400px;
    top: 3450px;
  
    background: linear-gradient(111.31deg, #FDA0FF 1.12%, #4082FF 73.22%);
    border-radius: 40px;
}

.GSSText {
  position: absolute;
    width: 324px;
    height: 60px;
    left: 804px;
    top: 3518px;
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 60px;
    /* identical to box height, or 167% */
  
    text-transform: uppercase;
  
    color: #000000;
}
 
.Be_A_Part_Text{
  position: absolute;
    width: 771px;
    height: 164px;
    left: 594px;
    top: 3650px;
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 90px;
    
  
    text-transform: capitalize;
  
    color: #FFFFFF;
}

.sideBarBg {
  background: linear-gradient(
    179.33deg,
    rgba(140, 152, 255, 0.75) 0%,
    rgba(219, 174, 255, 0.75) 99.37%
  );
}

.bgModal {
  background: linear-gradient(90deg, #3e70dd 0%, #b285d5 100%);
}

.signInColor {
  background: linear-gradient(90deg, #447fff 70.96%, #cb98f5 86.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
 
}

.yourSelfColor {
  background: linear-gradient(180deg, #ff6767 51.04%, #96b9fb 82.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
 
}

.btnSeeAll {
  background: linear-gradient(
    90deg,
    #df5a34 5.16%,
    rgba(221, 129, 237, 0.97) 110.15%
  );
}

.toDoColorText {
  background: linear-gradient(180deg, #cb41ed 0%, #f7ebfa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
 
}

/* Color Balls */

.purpleBlob {
position: absolute;
  width: 428px;
  height: 452px;
  left: 183px;
  top: 3279px;

  background: #E39DFF;
  filter: blur(186px);
}

.blueBlob {
position: absolute;
  width: 484px;
  height: 468px;
  left: 1209px;
  top: 3814px;

  background: #4082FF;
  filter: blur(199.5px);
}


.greenBlob {
  background: rgba(64, 255, 71, 0.5);
  filter: blur(295px);



}

.tealBlob {
  background: #61ADB9;
  filter: blur(180.5px);
}

.pinkBlob {
background: #9E00FF;
  filter: blur(400.5px);
  position: absolute;
    width: 1067px;
    height: 160px;
    left: 482px;
    top: -18px;
}

.footerline {
  position: absolute;
    width: 100%;
    height: 18px;
    left: 0px;
    top: 4616px;
  
    background: linear-gradient(90deg, #FBA0FF 0%, #4083FF 98.96%);
}

.footerText{
  position: absolute;
  
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
  
  
    letter-spacing: 0.135em;
    text-transform: capitalize;
  
    color: #FFFFFF;
}

.footerSecondaryText{
font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  

  letter-spacing: 0.135em;
  text-transform: capitalize;

  color: #FFFFFF;
  position: absolute;
}


